@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {

  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {

  body {
    background: black !important;
    color: white !important;
  }

  button {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

}

@page {
  size: A4;
  margin: 0;
}

@media print {

  a {
  color: black !important;
  background: white !important;
  border: none !important;
}

  html,
  body {
    width: 210mm;
    min-height: 297mm;
    background: #0C0C0C !important;
    color: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    margin: 0;
    padding: 0;
  }

  button {
    display: none !important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  section {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

}

@media (min-width: 48rem) {
    .md\:grid-cols-4 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }}